<div class="compare-popularity__subsection">
    {{
        siteMacros.themeImage({
            theme: theme,
            url: image,
            class: 'compare-popularity__subsection-image',
            alt: title|striptags
        })
    }}
    <p class="compare-popularity__subsection-string">{{ title }}</p>
</div>