<section class="home-header">
    <img src="{{ post.thumbnail }}" alt="{{ post.title }}" class="home-header__bg">
    <div class="container">
        {{ siteMacros.titleSection({
            tag: '1',
            title: 'Доступное <strong>обучение</strong> в странах <strong>Европы</strong><br><span>для украинских детей 14 — 16 лет</span>',
            class: 'home-header__title',
            size: 'lg'
        }) }}
        {{ siteMacros.buttonModal('Бесплатная консультация', 'btn_brand-2 home-header__button') }}
    </div>
</section>