{#
<form class="v-form v-form_block" action="handler.php" method="POST">
    <div class="v-form__content">
        <div class="v-form__row"><input class="v-form__control" name="vname" type="text" placeholder="Ваше имя" required/>
        </div>
        <div class="v-form__row"><input class="v-form__control" name="vemail" type="email" placeholder="Ваш email" required/>
        </div>
        <div class="v-form__row"><input class="v-form__control" name="vphone" type="tel" placeholder="Ваш телефон" required/>
        </div>
        <div class="v-form__row">
            <button class="v-form__submit v-btn v-btn_brand-1 v-btn_shadow-brand-1 v-btn_size-fluid v-effect v-effect_bounce-top" type="submit">{{ buttonText }}</button>
        </div>
    </div>
</form>#}
{{ function('do_shortcode', '[contact-form-7 id="745" title="Польша Лендинг консультация"]') }}