<div
        class="v-quadro
                v-quadro_style-{{ style }} {{ parentClass }}__quadro {{ parentClass }}__quadro_{{ number }}"
     data-emergence="hidden">
    <span class="v-quadro__part v-quadro__part_1"></span>
    <span class="v-quadro__part v-quadro__part_2"></span>
    <span class="v-quadro__part v-quadro__part_3"></span>
    <span class="v-quadro__part v-quadro__part_4"></span>
    <span class="v-quadro__part v-quadro__part_5"></span>
    <span class="v-quadro__part v-quadro__part_6"></span>
    <span class="v-quadro__part v-quadro__part_7"></span>
    <span class="v-quadro__part v-quadro__part_8"></span>
    <span class="v-quadro__part v-quadro__part_9"></span>
</div>