<section class="section education-steps">
    <div class="container">
        {{ siteMacros.titleSection({
            'tag': '3',
            'size': 'md',
            'class': 'education-steps__title',
            'title': post.get_field('steps_title')
        }) }}
        <div class="row education-steps__row">
            {% set i = 0 %}
            {% for step in post.get_field('steps') %}
                {% set i = i + 1 %}
                {% include "partial/step.twig" with {
                    class: 'col-12 col-sm-6 col-md-4 col-lg-3 education-steps-card',
                    title: "Шаг №#{i}",
                    content: step.text
                } %}
            {% endfor %}
        </div>
        {{ siteMacros.titleSection({
            'tag': '4',
            'size': 'sm',
            'class': 'education-steps__subtitle',
            'title': post.get_field('steps_subtitle')
        }) }}
    </div>
</section>