<section class="section education-country">
    <div class="container education-country__container">
        <div class="education-country__info">{{ post.get_field('country_info') }}</div>
        {{ siteMacros.titleSection({
            'tag': '4',
            'size': 'sm',
            'class': 'education-country__subtitle',
            'title': post.get_field('country_subtitle')
        }) }}
        {{ siteMacros.titleSection({
            'tag': '3',
            'size': 'md',
            'class': 'education-country__title education-country__title_arrow',
            'title': post.get_field('country_title')
        }) }}
    </div>
    {% include 'pages/education-europe/modules/country-map.twig' with {
        map: post.get_field('country_map'),
        title: post.get_field('country_title'),
        countryList: post.get_field('country_list'),
        itemTag: 'a'
    } %}
</section>