.home-about
  +min(md)
    +mt(100px)
  &__stars
    +a(0, null, null, 0)
    +size(100%)
    object-fit: contain
    z-index: -1
  &__row
    +mb(45px)
    +min(sm)
      +ai(center)
  &__title
    +fw(bold)
  &__subtitle
    +mb(30px)
  &__rocket
    +a(50%, null, null, 50%)
    transform: translate(-50%, -50%)