.home-about
  +min(md)
    +mt(100px)
  &__stars
    +a(0, null, null, 0)
    +size(100%)
    object-fit: contain
    z-index: -1
  &__row
    +mb(45px)
    +min(sm)
      +ai(center)
  &__title
    +fw(bold)
  &__subtitle
    +mb(30px)
  &__rocket
    +a(-35%, null, null, 25%)
    @at-root
      @keyframes rocket
        from
          transform: none
        to
          transform: translateY(-80px)
    animation: rocket 10s linear 0s infinite alternate
    z-index: 1