.home-advantages
  &__title
    +section-title-offset()
  &-item
    +r()
    +max(sm)
      +offset('b', 30px)
    &__inner
      border: 1px solid $color-gray
      border-radius: $common-border-radius
      +bgc($color-white)
  .card-image
    &:nth-child(2)
      +min(sm)
        top: 45px
    &:nth-child(2) .card-image__inner
      +min(sm)
        +common-box-shadow()