.wpcf7
  &-form
    br
      display: none
    &-control-wrap
      display: block
      +mb(15px)
  &-text
    +input-default()
    padding: 15px
    border-radius: 30px
    border: 1px solid #ddd
    text-align: center

    &:focus
      border-color: $color-brand-1

      +placeholder()
        color: transparent
  &-submit
    cursor: pointer
    +w(100%)
    +min(sm)
      +fs(18px)
      +py(20px)