<section class="section home-advantages">
    <div class="container">
        <div class="home-advantages__header">
            {{ siteMacros.titleSection({
                'tag': '3',
                'size': 'lg',
                'class': 'home-advantages__title',
                'title': post.get_field('advantages_title')
            }) }}
        </div>
        <div class="row">
            {% for item in post.get_field('advantages_list') %}
                {% include 'shared/card-image.twig' with {
                    class: 'col-12 col-sm-4 card-image_large item-offset',
                    image: item.image,
                    title: item.title,
                    content: item.content
                } %}
            {% endfor %}
        </div>
    </div>
</section>