<section class="education-header">
    <img src="{{ post.thumbnail }}" alt="{{ post.title }}" class="education-header__bg">
    <div class="container">
        {{ siteMacros.titleSection({
            tag: '1',
            title: 'Главная',
            class: 'education-header__title',
            size: 'lg'
        }) }}
        {{ siteMacros.buttonModal('Бесплатная консультация', 'btn_brand-2 education-header__button') }}
    </div>
</section>