<section class="section home-process">
    <div class="container">
        {{ siteMacros.titleSection({
            'tag': '3',
            'size': 'lg',
            'class': 'home-process__title',
            'title': post.get_field('process_title')
        }) }}
        <div class="row home-process__content">
            {% for step in post.get_field('process_list') %}
                {% include "shared/step.twig" with {
                    class: 'col-12 col-sm-6 col-md-4 col-lg-3 step_arrow',
                    title: "Шаг №#{loop.index}",
                    content: step.text
                } %}
            {% endfor %}
        </div>
        <div class="home-process__footer">
            {% set processButton = post.get_field('process_button') %}
            <a
                class="btn btn_lg btn_brand-2"
                target="{{ processButton.link.target }}"
                href="{{ processButton.link.url }}">{{ processButton.text }}</a>
        </div>
    </div>
</section>