<section class="section czech-about">
    <div class="container">
        {{ siteMacros.titleSection({
            tag: '3',
            title: post.get_field('about_title'),
            class: 'center-mode czech-about__title',
            size: 'lg'
        }) }}
        <div class="row">
            {% for item in post.get_field('about_list') %}
                <div class="col-12 col-xs-6 col-md-3 item-offset czech-about__item">
                    <div class="box-shadow {{ loop.index is even ? 'box-shadow_static' : '' }}">
                        {{ siteMacros.icon({
                            'image': item.image,
                            'title': item.title,
                            'content': item.content
                        }) }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>