{% extends "base.twig" %}

{% block content %}
	<section class="page-404">
		<div class="container">
			<h1 class="page-404__title">404. Страница не найдена</h1>
			<a
				class="btn btn_lg btn_brand-2"
				href="{{site.url}}">На главную</a>
		</div>
	</section>
{% endblock %}