{% import '_macros.twig' as siteMacros %}
{% include 'html-header.twig' %}
</head>
<body class="{{body_class}}" data-template="base.twig">
{% block scripts %}
	{% if post.get_field('place_body_scripts') %}
		{{ post.get_field('place_body_scripts') }}
	{% endif %}
{% endblock %}
{% include 'preloader.twig' %}
{% block nav %}
	{% include 'nav.twig' %}
{% endblock %}
<main class="site">
	{% block content %}
		Sorry, no content
	{% endblock %}
	{% include 'footer.twig' %}
</main>
{{ function('wp_footer') }}
<script type="text/javascript">
	var fca_code = '5a797db1fcf2af18e4adc670995f81bc';
	(function() {
		var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true; po.charset = 'utf-8';
		po.src = '//ua.cdn.fastcallagent.com/fca.min.js?_='+Date.now();
		var s = document.getElementsByTagName('script')[0];
		if (s) { s.parentNode.insertBefore(po, s); }
		else { s = document.getElementsByTagName('head')[0]; s.appendChild(po); }
	})();
</script>
</body>
</html>
