{% import '_macros.twig' as siteMacros %}
{% include 'html-header.twig' %}
</head>
<body class="{{body_class}}" data-template="base.twig">
<div class="preloader" style="position: fixed;top: 0;left: 0;right: 0;bottom: 0;display: flex;align-items: center;justify-content: center;background-color: #e21e49;z-index: 999999;">
	<div class="lds-roller">
		<div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
	</div>
</div>
{% block nav %}
	{% include 'nav.twig' %}
{% endblock %}
<main class="site">
	{% block content %}
		Sorry, no content
	{% endblock %}
	{% include 'footer.twig' %}
</main>
{{ function('wp_footer') }}
<script>
    $(window).on('load', function() {
    	setTimeout(function(){
			$('.preloader').fadeOut(500);
		}, 500);
    });
</script>
</body>
</html>
