<footer class="footer">
    <div class="container">
        <div class="row footer__row">
            <div class="col-12 col-sm-2 footer__column footer__column_logo">
                <a href="{{site.url}}"><img src="{{options.logo}}" alt="{{site.name}}" class="footer__logo"></a>
            </div>
            <div class="col-12 col-sm-5 col-md-3 footer__column">
                <div class="footer__column-inner">
                    {% include 'shared/options/email.twig' with {
                        email: options.email
                    } %}
                    {% include "shared/options/social.twig" with {
                        class: 'footer__social',
                        list: options.socials,
                        size: 'small',
                        color: 'white'
                    } %}
                    {% include 'shared/options/phones.twig' with {
                        phones: options.phones
                    } %}
                </div>
            </div>
            <div class="col-12 col-sm-5 col-md-3 footer__column">
                {% include 'shared/options/address.twig' with {
                    address: options.address
                } %}
            </div>
        </div>
    </div>
</footer>
<div class="modal" id="modal-form">
    <div class="modal__box modal__box_default modal__box_effect-1">
        <div class="modal__header">
            <p class="modal__title">Получить консультацию</p>
            <button class="modal__close" data-close="modal">&times;</button>
        </div>
        <div class="modal__body">
            {{function('do_shortcode', options.modal_form)}}
        </div>
    </div>
</div>