{% extends "base.twig" %}

{% block content %}
	{% include 'shared/header.twig' with {
		class: 'blog-header',
		title: post.title,
		background: post.thumbnail.src|resize(1600, 700),
		buttons: [
			{
				type: 'scroll',
				text: 'Читать статью'
			}
		]
	} %}
	<section class="blog-content">
		<div class="container">
			<div class="row">
				<div class="col-12 col-sm-9 col-md-8">
					<article class="blog-post blog-post_{{ post.post_type }}" id="post-{{ post.ID }}">
						{{ post.content }}
					</article>
				</div>
				<div class="col-12 col-sm-3 col-md-4">
					sidebar
				</div>
			</div>
		</div>
	</section>
{% endblock %}
