.education-universities
  &__title
    +section-title-offset()
  &-item
    +offset('b', 15px)
    +min(sm)
      +offset('b', 30px)
    &__inner
      border-radius: $common-border-radius
      border: 1px solid #EBEBEB
      +bgc($color-white)
      +tr()
      &:hover
        +common-box-shadow()
      +max(sm)
        max-width: 270px
        +mx(auto)
      +min(sm)
        display: flex
        flex-wrap: wrap
    &__header
      +fs(0)

    &__footer
      +ta(center)

    &__button
      +min(sm)
        +fs(17px)
        padding: 20px

    &__image
      &-wrapper
        +fs(0)

    &__title
      +max(sm)
        +my(10px)
    &_small &
      &__inner
        flex-direction: column
        justify-content: center
        padding: 15px
        +ta(center)
        +min(md)
          padding: 30px
      &__header,
      &__title
        +mb(15px)
      &__image
        +size(auto, 60px)
        object-fit: contain
        +min(sm)
          max-height: 100px
      &__title
        +min(sm)
          +fs(12px)
          min-height: 40px
        +min(md)
          min-height: 100px
          +fs(16px)

    &_large &
      &__inner
        +max(sm)
          +pb(15px)
        +min(sm)
          flex-direction: row-reverse
          align-items: center
          justify-content: center
      &__header,
      &__title,
      &__footer
        +min(sm)
          flex-basis: 33.33333%
      &__image
        +w(100%)
      &__title
        +max(sm)
          +ta(center)