.nav
  &__addition
    +max(md)
      +ta(right)
      +pr(0)
      +h(100%)
    &-btn
      +w(100%)
      padding: 8px
      +max(md)
        border-radius: 0
        max-width: 160px
        +h(100%)
        +fs(12px)
  &__addition &__options
    +d(none)
    +min(md)
      +d(flex)