<div class="review {{ class }}">
    <div class="review__inner">
        <iframe
            src="{{ url }}"
            frameborder="0"
            class="review__iframe"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p class="review__title">{{ title }}</p>
    </div>
</div>