.box-shadow
  +r()
  padding: 30px 15px
  border-radius: $common-border-radius
  border: 1px solid #EBEBEB
  +bgc($color-white)
  +tr()
  &_hoverable:hover,
  &_static
    +common-box-shadow()
  +min(md)
    padding: 30px