.header
  +py(60px)
  +ta(center)
  +overlay()
  +c($color-white)
  +min(sm)
    display: flex
    align-items: center
    justify-content: center
    height: 100vh
    min-height: 700px
  &__title
    +mb(30px)
  &__content
    +mb(30px)
  &__container
    +r()
    z-index: 1
  &__buttons
    +max(sm)
      max-width: 270px
      +mx(auto)
      .btn
        +w(100%)
        +offset('b', 10px)