.footer
  +fs(16px)
  +bgc(#001a47)
  +c(#92aad3)
  +py(60px)
  +min(sm)
    +py(90px)

  &__social
    +my(15px)

  &__phones
    list-style: none
    li
      +py(5px)

  &__logo
    opacity: 0.6

  &__column
    +max(sm)
      +d(flex)
      +jc(center)
      +offset('b', 30px)
    &_logo
      +min(sm)
        align-self: center
        +ml(auto)
        order: 3